// Navigation Styles here

nav {
  .NavFlex(space-between);
  a {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    color: @shark;
    text-decoration: @shark;
  }
}
