// Navigation Styles here
.NavFlex(@jc) {
  display: flex;
  flex-direction: row;
  justify-content: @jc;
}

nav {
  .NavFlex(space-between);
  align-items: center;
  a {
    color: black;
    text-decoration: black;
  }
}
